img {
  margin: 15px;
}

.content {
  margin-top: 100px;
}

img[alt~="Nintrotendo"] {
  width: 50%;
}

img[alt~="PS5Intro"] {
  width: 75%;
}

img[alt~="XBoxIntro"] {
  width: 50%;
}

table tbody tr td a{
  color: black;
  background-color: goldenrod;
  font-size: 17px;
  padding: 8px 15px;
  border-radius: 3px;
  text-transform: uppercase;
}