@charset "utf-8";
table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   border: 1px solid #ddd;
 }
 
th, td {
   text-align: center;
   padding: 8px;
 }

th, td {
   border: 1px solid gold;
   padding: px;
   text-align: center;
   vertical-align: top;
}

caption {
   caption-side: top;
   text-align: left;
   font-size: 1.5em;
}

table col#firstCol {
   background-color: aqua;
   width: 150px;
}

table col#hourCols {
   width: 200px;
}

table thead {
   background-color: pink;
}