@charset "utf-8";
table {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-right: auto;
   border-collapse: collapse;
   border-spacing: 0;
   width: 70%;
   border: 1px solid #ddd;
   margin: 15px;
 }
 
th, td {
   text-align: center;
   padding: 8px;
 }

th, td {
   border: 1px solid gold;
   padding: px;
   text-align: center;
   vertical-align: top;
}

caption {
   caption-side: top;
   text-align: left;
   font-size: 1.5em;
}

table thead {
   font-size: 35px;
   background-color: olive;
}